{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAES - IPN</title>
    <link rel="stylesheet" href="{% static 'css/Default.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<body>
    <!-- Encabezado -->
    <header>
        <div class="logo">
            {% comment %} <a href="{% url 'home' %}"><img src="{% static 'img/LogoP.png' %}" alt="Logo IPN"></a> {% endcomment %}
        </div>
    </header>

    <!-- Contenido Principal -->
    <main>
        <section class="login-section">
            <div class="header-main">
                <div class="logo">
                    <img src="{% static 'img/logoipn.png' %}" alt="Logo IPN">
                </div>
                <div class="banner" style="font-weight: bold; font-size: medium; color: maroon; font-family: Tahoma; 
                font-variant: small-caps; right: 139px; text-align: center; width: 720px;">
                    ESCUELA SUPERIOR DE CÓMPUTO
                </div>
                <div class="logo_escuela">
                    <img src="{% static 'img/LogoE.png' %}" alt="Logo ESCOM">
                </div>
            </div>
            <div class="content-login">
                <div class="leftcolumn">
                    <div class="leftcolcontainer">
                        <div class="sidebarcontainer">
                            <table class="sidebar-table sidebar-hover">
                                <tbody>
                                    <tr>
                                        <td><a href="{% url 'home' %}">Inicio</a></td>
                                    </tr>
                                    {% if 'Personal DAE' in request.session.rol %}
                                        <tr>
                                            <td>Alumnos</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'nalumno' %}">&emsp;Dar de alta alumnos</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'nvalumno' %}">&emsp;Registrar video alumnos</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'alumno' %}">&emsp;Consultar alumnos</a></td>
                                        </tr>
                                    {% endif %}

                                    {% if request.session.rol|contiene_cargo:"Gestión Escolar" %}
                                        <tr>
                                            <td>Periodo de ETS</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'npets' %}">&emsp;Dar de alta periodo</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'pets' %}">&emsp;Consultar periodos</a></td>
                                        </tr>
                                        <tr>
                                            <td>ETS</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'nets' %}">&emsp;Dar de alta ETS</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'listETS' %}">&emsp;Consultar lista de ETS</a></td>
                                        </tr>
                                        <tr>
                                            <td>Inscripciones</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'ninscripciones' %}">&emsp;Inscribir alumnos a ETS</a></td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'inscripciones' %}">&emsp;Consultar inscripciones</a></td>
                                        </tr>
                                        <tr>
                                            <td>Docentes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'ndocente' %}">&emsp;Dar de alta docentes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'docente' %}">&emsp;Consultar docentes</a></td>
                                        </tr>
                                        <tr>
                                            <td>Personal seguridad</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'nps' %}">&emsp;Dar de alta p. seguridad</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{% url 'ps' %}">&emsp;Consultar p. seguridad</a></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="center-content">
                    <div class="copy">
                        <div class="copy-container" style="padding: 0 20px 15px 20px;">
                            {% block centercontainer %}
                            {% endblock centercontainer %}
                        </div>
                    </div>
                </div>
                <div class="content-footer">
                    {% block contentfooter %}
                    {% endblock contentfooter %}
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2024 SAES - IPN</p>
        <p>Enlaces: <a href="#">IPN</a> | <a href="#">Gobierno</a> | <a href="#">Trámites</a></p>
    </footer>
</body>

</html>