{% extends "base_log.html" %}

{% load static %}
{% block centercontainer %}
<center style="font-weight:bold; padding: 1rem 0;">Listado de Inscripciones<br></center>
    {% if DetailInscripciones %}
    <div class="table-container table-responsive">
        <table class="center">
            <thead style="text-transform: uppercase; font-weight: bold;">
                <tr>
                    <td>Alumno:</td>
                    <td>Materia:</td>
                    <td>Turno:</td>
                    <td>Fecha:</td>
                    <td>Cupo:</td>
                    <td>Periodo:</td>
                </tr>
            </thead>
            <tbody>
                {% for dato in DetailInscripciones %}
                <tr>
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.materia }}</td>
                    <td>{{ dato.turno }}</td>
                    <td>{{ dato.fecha }}</td>
                    <td>{{ dato.cupo }}</td>
                    <td>{{ dato.periodo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/detailets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ETS.css' %}">
    {% endif %}
{% endblock centercontainer %}
