{% extends "base_log.html" %}

{% load static %}
{% block centercontainer %}
<center style="font-weight:bold; padding: 1rem 0;">Registrar Nuevo Periodo <br></center>
    <div class="table-container table-responsive">
        <div class="center">
            {% if form.errors %}
                <div class="alert alert-danger" style="color: red; font-size: 15px" align="right">
                    <ul class="mb-0">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|title }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            {% if message %}
                {% if Error %}
                    <div style="text-align: center; color: red; font-size: 15px">
                        {{ message }}
                    </div>
                {% else %}
                    <div style="text-align: center">
                        {{ message }}
                    </div>
                {% endif %}
            {% endif %}

            <form action="{% url 'npets' %}" method="POST" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="periodo">Periodo:</label>
                    {{ form.periodo }}
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo de periodo:</label>
                    {{ form.tipo }}
                </div>
                <div class="form-group">
                    <label for="fecha_I">Inicio del periodo:</label>
                    {{ form.fecha_I }}
                </div>
                <div class="form-group">
                    <label for="fecha_F">Fin del periodo:</label>
                    {{ form.fecha_F }}
                </div>
                <button type="submit" id="ctl00_leftColumn_LoginUser_LoginButton">Guardar</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/detailets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ETS.css' %}">
{% endblock centercontainer %}
