{% extends "base_log.html" %}

{% load static %}
{% block centercontainer %}
<center style="font-weight:bold; padding: 1rem 0;">LISTADO DE PERIODOS <br></center>
    {% if DetailPETS %}
    <div class="table-container table-responsive">
        <table class="center">
            <thead style="text-transform: uppercase; font-weight: bold;">
                <tr>
                    <td>Periodo:</td>
                    <td>Tipo:</td>
                    <td>Fecha Inicio:</td>
                    <td>Fecha Finalización:</td>
                </tr>
            </thead>
            <tbody>
                {% for periodo in DetailPETS %}
                <tr>
                    <td>{{ periodo.periodo }}</td>
                    {% if periodo.tipo == "O" %}
                        <td>Ordinario</td>
                    {% else %}
                        <td>Especial</td>
                    {% endif %}
                    <td>{{ periodo.fecha_Inicio }}</td>
                    <td>{{ periodo.fecha_Fin }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/detailets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ETS.css' %}">
    {% endif %}
{% endblock centercontainer %}
