{% extends "base_log.html" %}

{% load static %}
{% block centercontainer %}
<center style="font-weight:bold; padding: 1rem 0;">LISTADO DE ETS<br></center>
    {% if DetailPS %}
    <div class="table-container table-responsive">
        <table class="center">
            <thead style="text-transform: uppercase; font-weight: bold;">
                <tr>
                    <td>Nombre:</td>
                    <td>Cargo:</td>
                    <td>Turno:</td>
                </tr>
            </thead>
            <tbody>
                {% for ps in DetailPS %}
                <tr>
                    <td>{{ ps.nombre }}</td>
                    <td>{{ ps.cargo }}</td>
                    <td>{{ ps.turno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/detailets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ETS.css' %}">
    {% endif %}
{% endblock centercontainer %}
